Source: yajl-ruby
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders:  <>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.1.0), ruby-rake-compiler (>= 0.7.5)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/collab-maint/libnet-jabber-loudmouth-perl.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libnet-jabber-loudmouth-perl.git;a=summary
Homepage: http://github.com/brianmario/yajl-ruby

Package: ruby-yajl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
# For build:
# rake-compiler (>= 0.7.5), rspec (>= 2.0.0)
# For benchmarking:
# activesupport (>= 0), json (>= 0)
Description: Ruby C bindings to the excellent Yajl JSON stream-based parser library.
 Ruby C bindings to the excellent Yajl JSON stream-based parser
 library.

Package: ruby1.8-yajl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
# rake-compiler (>= 0.7.5), rspec (>= 2.0.0), activesupport (>= 0), json (>= 0)
Description: Ruby C bindings to the excellent Yajl JSON stream-based parser library.
 Ruby C bindings to the excellent Yajl JSON stream-based parser
 library.

Package: ruby1.9.1-yajl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
# rake-compiler (>= 0.7.5), rspec (>= 2.0.0), activesupport (>= 0), json (>= 0)
Description: Ruby C bindings to the excellent Yajl JSON stream-based parser library.
 Ruby C bindings to the excellent Yajl JSON stream-based parser
 library.

